@import "tailwindcss";

:root {
  --background: #000126;
  --foreground: #ECECEC;

  --primary: #3B46E0;
  --tertiary: #69B4F6;
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-glow-primary: #6C4EE2;
  --color-glow-secondary: #7CB8EC;

  --accent: #191346;

  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);

  --border-color: #3B46E0;
  --component-bg: #04042D;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-alt), sans-serif;
}